.comments{
text-align: center;
}
.comments__title{
    color: var(--black);
    margin-bottom: 40px;
    

}
.comments__card{
    width: 312px;
    height: 240px;
    margin: 0 auto;
    background-color: var(--white-200) ;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.comments__name{
    font-weight: 500;
}
.comments__review{
    margin: 0;
}