.localization__map {
    max-width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 25px 25px 57px; */
    padding: 25px 25px 10px;
    max-width: 360px;
    margin: 0 auto;
}

.header__logo {
    width: 71px;
    height: 22px;
}

.header__list {
    display: none;
}

.header__item-link {
    color: var(--black);
}

.header__button {
    display: none;
}

.header__nav-toggle {
    text-align: center;
    display: none;
}

.active {
    display: block;
}

:is(ul, li) {
    list-style: none;
    margin-bottom: 1rem;
    font-weight: 600;
}

.header__button-toggle {
    margin: 0 auto; 
    display: block;
    padding: .5rem 2rem;
    font-size: 16px;
    color: var(--white);
    border-radius: 6px;
    background-color: var(--red);
    font-weight: 600;
}

.header__hamburguer-btn {
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 1200px) {

    .header__container {
        max-width: 1200px;
        box-sizing: border-box;
        justify-content: flex-start;
        gap: 259px;
        padding-top: 45px;
        /* margin-bottom: 110px; */
        margin-bottom: 1rem;
    }

    .header__hamburguer-img {
        display: none;
    }

    .active {
        display: none;
    }

    .header__list {
        display: flex;
    }

    .header__links {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 91px;
    }

    .header__item {
        font-size: 24px;
    }

    .header__button {
        display: block;
        width: 130px;
        height: 40px;
        font-size: 24px;
        color: var(--black);
        border-radius: 6px;
        background-color: var(--white);
        border: 1px solid var(--black);
    }

}