/* Elemento 'pai' dos Cards -- Modifica seu comportamento de coluna para linha apartir do dispositivo */
.popular__cards {
    margin-inline: auto; /* Somente a largura irá centralizar 'automaticamente (80%)' o elemento atual */
    width: 80%; /* Modifica a largura do elemento filho para 80% do elemento pai */
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adiciona colunas ou linhas para o elemento atual dependendo do seu tamanho mínimo (200px) e seu tamanho máximo (1fr == 1 parte) */
    align-items: baseline;
    column-gap: var(--space-xs);
    row-gap: 7rem;
}

/* ElementoS filhos */
.popular__card {
    display: grid; /* Justifica para o centro a div '.popular__imgbox' */
    position: relative; /*  Define ".popular__card" como referência para o posicionamento da div '.popular__imgbox' */  
}

/* Responsividade -- Última imagem centralizada entre 537px - 826px */
@media (min-width: 537px) and (max-width: 826px) {
    .popular__card:last-of-type {
        grid-row: auto / 3;
        grid-column: 1 / 3;
        margin: 0 auto;
        width: 50%;
    }
}

/* Images */
.popular__imgbox {
    justify-self: center;
    position: absolute;
    width: 10rem;
    top: -6rem;
}

.popular__img--height-160px {
    height: calc(160rem / 16);
}

/* Contéudo textual */
.popular__card-content {
    background-color: var(--white-200);
    border-radius: calc(32rem / 16);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    justify-content: flex-end;
    padding: 1rem;
    padding-top: 5rem;
}

.popular__title {
    margin-bottom: 7rem;
    color: var(--black);
    margin-top: 0;
}

.popular__name {
    font-weight: 500;
}

.popular__description {
    color: var(--gray);
    margin-bottom: 0;
    margin-inline: .3rem;
}

.popular__price {
    font-weight: 500;
    color: var(--black);
    margin: 0;
}