@import url('./comments.css');
@import url('./header.css');
@import url('./intro.css');
@import url('./popular.css');
@import url('./localization.css');
@import url('./footer.css');

:root {
    /* Cores */
    --red: #da2535;
    --black: #292929;
    --gray: #616161;
    --white-200: #f3f3f3;
    --white: #fbfbfb;

    /* Fonte */
    --inter: 'Inter', sans-serif;
    --montserrat: 'Montserrat', sans-serif;

    /* Spaços */
    --space-xs: 1rem;
    --space-s: 1.5rem;
    --space-sl: 2rem;
    --space-ml: 2.5rem;
    --space-m: 3rem;
    --space-l: 3.5rem;
    --space-lx: 3.875rem;
    --space-x: 5rem;

    /* Tamanhos da fonte */
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
}

/* Fontes Responsivas */
@media (min-width: 1000px) {
    :root {
        --fs-400: 1.125rem;
        --fs-600: 2rem;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--inter);
}

img {
    max-width: 100%;
}

h1,
h2,
p {
    line-height: 1.6;
}

p {
    margin-bottom: var(--space-sl);
}

h1,
h2 {
    margin-top: var(--space-lx);
}

main {
    text-align: center;
}
@media screen and (min-width: 1200px) {
    h2{
        font-size: 48px;
        color: var(--black);
    }
   p{
    font-size: 24px;
    color: var(--black);
   }

    
}